<style>
  #messages {
    padding-top: 10px;
  }

  #messages #listing-info{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #messages #chat-box {
    position: absolute;
    overflow: scroll;
    width: 95%;
  }

  #messages .msg {
    padding-top: 10px;
    clear:both;
  }

  #messages .msg.me .msg-info {
    float: right;
  }

  #messages .msg .arrow {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e0e0e0;
    position: relative;
    left: 4%;
  }

  #messages .msg.me .arrow {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f44336;
    position: relative;
    left: 92%;
  }

  #messages .msg .bubble {
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    background-color: #e0e0e0;
  }

  #messages .msg.me .bubble {
    background-color: #f44336;
    color: white;
    text-align: right;
    float:right;
  }

  #messages #input-box {
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 95%;
    padding-bottom: 20px;
  }

  #messages #input-box textarea {
    resize: none;
  }


</style>

<div class="row">
  <div id="messages" class="col m8 push-m2 s12" fullscreen>
    <div id="listing-info" class="center-align card">
      listing info goes here
    </div>
    <div id="chat-box" scroll-glue>
      <div ng-repeat="message in $ctrl.chat.messages" class="msg" ng-class="{me: $ctrl.chatUsers[message.userId].isMe}">
        <div ng-if="$ctrl.chat.messages[$index].userId !== $ctrl.chat.messages[$index - 1].userId">
          <span ng-if="$ctrl.chatUsers[message.userId].isMe">&nbsp;</span>
          <div class="msg-info">
            <span ng-if="$ctrl.chatUsers[message.userId].isMe" class="grey-text text-lighten-1">
              &nbsp; &nbsp;
              {{message.created_at | date: 'MM/dd h:mm a'}}
              &nbsp; &nbsp;
            </span>
            <span>
              <i ng-if="!$ctrl.chatUsers[message.userId].isMe" class="fa fa-circle"></i>
              &nbsp;
              {{$ctrl.chatUsers[message.userId].name}}
              &nbsp;
              <i ng-if="$ctrl.chatUsers[message.userId].isMe" class="fa fa-circle"></i>
            </span>
            <span ng-if="!$ctrl.chatUsers[message.userId].isMe" class="grey-text text-lighten-1">
              &nbsp; &nbsp;
              {{message.created_at | date: 'MM/dd h:mm a'}}
              &nbsp; &nbsp;
            </span>
          </div>
        </div>
        <div class="arrow" ng-if="$ctrl.chat.messages[$index].userId !== $ctrl.chat.messages[$index - 1].userId"></div>
        <div class="bubble">
          {{message.text}}
        </div>
      </div>

    </div>
    <div id="input-box">
      <div class="divider"></div>
      <div class="input-field col s12">
        <textarea ng-model="$ctrl.message" id="textarea1" class="materialize-textarea browser-default"></textarea>
        <label for="textarea1">Write a reply...</label>
      </div>

      <button ng-click="$ctrl.sendMsg()" class="btn right waves-effect waves-light red" ng-class="{disabled: $ctrl.message.length === 0}">Send</button>
    </div>

  </div>
</div>
