<br>
<br>
<br>
<div class="center-align">
  <h4>Create a new listing</h4>
</div>


<div class="container row">
<div class="col s12 m8 push-m2">

  <!-- Address -->
  <div class="row">
    <h5>1. What's your address?</h5>
    <p>If you want to autocomplete your address, fill out here first.</p>
    <div class="input-field col s12">
      <input name="autocomplete" id="autocomplete" type="text" class="validate" >
      <!-- <label for="autocomplete">Address</label> -->
    </div>
  </div>


    <div class="row section">
      <p>Now you can make changes to your address accordingly</p>
      <div class="input-field col s12">
        <input name="address" ng-model="$ctrl.newListing.address.address" id="address" type="text" class="validate" >
        <label for="address">Address</label>
      </div>

      <div class="input-field col s12">
        <input name="address2" ng-model="$ctrl.newListing.address.address2" id="address2" type="text" class="validate">
        <label for="address2">Address 2 (optional)</label>
      </div>

      <div class="input-field col s5">
        <input name="city" ng-model="$ctrl.newListing.address.city" id="city" type="text" class="validate" >
        <label for="city">city</label>
      </div>

      <div class="input-field col s3">
        <select name="state" ng-model="$ctrl.newListing.address.state" id="state">
          <option value="" disabled selected>State</option>
          <option ng-repeat="state in $ctrl.states" value="{{state}}">{{state}}</option>
        </select>
        <label for="state"></label>
      </div>

      <div class="input-field col s4">
        <input name="zip" ng-model="$ctrl.newListing.address.zip" id="zip" type="number" max="99999" class="validate" >
        <label for="zip">zipcode</label>
      </div>
    </div>

    <!-- roomType -->
    <h5>2. What's youre space like?</h5>
    <div class="row section">
      <div class="input-field col s12">
        <p>I'm looking for someone to rent out: </p>
        <select name="roomType" ng-model="$ctrl.newListing.roomType" required>
          <option value="" disabled selected>Select a room type</option>
          <option ng-repeat="type in $ctrl.roomTypes" value="{{type}}">{{$ctrl.getA(type)}}</option>
        </select>
        <label for="roomType"></label>
      </div>

      <div class="input-field col s12">
        <p>I live in:</p>
        <select name="propertyType" ng-model="$ctrl.newListing.space.propertyType">
          <option value="" disabled selected>select a property type</option>
          <option ng-repeat="type in $ctrl.propertyTypes" value="{{type}}">{{$ctrl.getA(type)}}</option>
        </select>
        <label for="propertyType"></label>
      </div>


      <div class="input-field col s12">
        <p>This place comfortably fits <strong>{{$ctrl.newListing.space.accomodates}}</strong> {{($ctrl.newListing.space.accomodates<2) ? "person" : "people"}}</p>
        <p class="range-field">
          <input name="accomodates" type="range" id="accomodates" min="1" max="10" ng-model="$ctrl.newListing.space.accomodates" />
        </p>
      </div>

      <div class="input-field col s12">
        <p>There
          {{(($ctrl.newListing.space.bedrooms<2)) ? "is" : "are"}}
          <strong>{{$ctrl.newListing.space.bedrooms}}</strong>
          {{($ctrl.newListing.space.bedrooms<2) ? "bedroom" : "bedrooms"}} and
          <strong>{{$ctrl.newListing.space.bathrooms}}</strong>
          {{($ctrl.newListing.space.bathrooms<2) ? "bathroom" : "bathrooms"}}
        </p>

        <div class="row">
          <div class="col s6">
            <p class="range-field">
              <input name="bedrooms" type="range" id="bedrooms" min="1" max="10" ng-model="$ctrl.newListing.space.bedrooms" />
            </p>
          </div>

          <div class="col s6">
            <p class="range-field">
              <input name="bathrooms" type="range" id="bathrooms" min="1" max="5" step=".5" ng-model="$ctrl.newListing.space.bathrooms" />
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- amenities -->
    <h5>3. What are the perks of living here?</h5>
    <div class="row section">
      <div class="input-field col s12" ng-repeat="amenity in $ctrl.newListing.amenities">
        <p>
          <input name="{{amenity.description}}" type="checkbox" id="{{amenity.description}}" ng-model="amenity.value" >
          <label for="{{amenity.description}}">{{amenity.description}}</label>
        </p>
      </div>
    </div>

    <!-- rules -->
    <h5>4. What are the house rules?</h5>
    <div class="row section">
      <div class="input-field col s12">
        <textarea id="houseRules" class="materialize-textarea" ng-model="$ctrl.newListing.houseRules"></textarea>
        <label for="houseRules">You can type here.</label>
      </div>
      <div class="input-field col s12" ng-repeat="rule in $ctrl.newListing.rules">
        <p>
          <input name="{{rule.description}}" type="checkbox" id="{{rule.description}}" ng-model="rule.value" >
          <label for="{{rule.description}}">{{rule.description}} allowed</label>
        </p>
      </div>
      <br>
      <br>
    </div>

    <!-- rules -->
    <h5>5. What's the rent?</h5>
    <div class="row section">
      <div class="input-field col s12">
        <input ng-model="$ctrl.newListing.rent" id="rent" name="rent" type="number" class="validate" required>
        <label for="rent">Rent (per month)</label>
      </div>
      <div class="input-field col s12">
        <input ng-model="$ctrl.newListing.deposit" id="deposit" name="deposit" type="number" class="validate" >
        <label for="deposit">Deposit</label>
      </div>
      <div class="input-field col s12">
        <input ng-model="$ctrl.newListing.duration" id="duration" name="duration" type="text" maxlength="25" maxclass="validate" >
        <label for="duration">Duration</label>
      </div>
      <div class="input-field col s12">
        <input type="text" class="datepicker x" id="moveInDate" name="moveInDate" ng-model="$ctrl.newListing.moveInDate" required>
        <label for="moveInDate">Move-in date</label>
      </div>
    </div>

    <!-- rules -->
    <h5>6. Finally, how do you want people to see this listing?</h5>
    <div class="row section">
      <div class="input-field col s12">

        <!--  So this is the dropbox, with a <button> in case of the user doesn't
        have icons. Yes. Think about Fvwm (Linux) users like me -->
        <input class="imageFile" type="file" ng-change="$ctrl.upload()" ng-model="$ctrl.file">
        <button class='btn waves-effect waves-light' ng-click="$ctrl.upload()">upload photo</button>

        <div class="progress" ng-show="$ctrl.uploadingImage">
            <div class="indeterminate"></div>
        </div>
        <img class="responsive-img" ng-src="{{$ctrl.newListing.imageUrl}}">


        <!-- <div class="input-field col s12">
          <input ng-model="$ctrl.newListing.imageUrl" id="imageUrl" name="imageUrl" type="text" class="validate" required>
          <label for="imageUrl">Image</label>
        </div> -->

        <div class="input-field col s12">
          <input ng-model="$ctrl.newListing.title" id="title" name="title" type="text" class="validate" maxlength="50" required>
          <label for="title">Listing title</label>
        </div>

        <div class="input-field col s12">
          <textarea ng-model="$ctrl.newListing.description" id="description" name="description" class="materialize-textarea"></textarea>
          <label for="description">Description</label>
        </div>

        <div class="input-field col s12">
          <input ng-model="$ctrl.newListing.lookingFor" id="lookingFor" name="lookingFor" type="text" class="validate" maxlength="50" >
          <label for="lookingFor">What type of roommate/tenant are you looking for?</label>
        </div>


      </div>
    </div>

    <button class='btn red waves-effect waves-light' ng-click="$ctrl.addListing()">Submit</button>



</div>
</div>
